<!DOCTYPE html>
<html lang="en">
 <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    
    <title>{{producto.Nombre}}</title>
</head>

<body>
    <h1>{{Helados.Nombre}}</h1>
            <p><b>precio:</b>&nbsp;${{Helados.precio}}</p>
            <p><b>topping:</b>&nbsp;{{Helados.topping}}</p>
            <p><b>sabor:</b>&nbsp;{{Helados.sabor}}</p>
            <p><b>peso:</b>&nbsp;{{Helados.peso}}</p>
           
            
</body>
</html>