<!DOCTYPE html>
<html lang="en">
 <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="/css/prod.css">

    
    <title>{{cono.Nombre}}</title>
</head>

<body>
    <h1 class="producto">Productos</h1>
    <h1>{{cono.Nombre}}</h1>
     <img  class="imagen"src="{{cono.imagen}}" alt="">
            <p><b>precio:</b>&nbsp;${{cono.precio}}</p>
            <p><b>topping:</b>&nbsp;{{cono.topping}}</p>
            <p><b>sabor:</b>&nbsp;{{cono.sabor}}</p>
            <p><b>peso:</b>&nbsp;{{cono.peso}}</p>
           
           
            
</body>
</html>